*{
  margin: 0;
  box-sizing: border-box;
}

.sfondo-header{
  height: 100px;
  width: 100%;
  background-image: url('../img/pattern.png');
  background-color: #4ea0ff;
  background-size: 40%;
  background-repeat: repeat;
}

.container{
  margin-left: 5px;
}

#logo{
width: 18%;
margin: 40px 5px;
}

h1{
  font-size: 40px;
}

#presentazione{
  font-size: 20px;
}

.grigio{
  color: #b6b6b6;
  font-weight: bold;
}

#autore{
  color: #21a9e5;
}

.immagini-timberners{
  margin-top: 20px;
}

.fonti-foto{
  font-size: 0.8em;
}

p, ul{
  margin: 20px 0;
}

.sottolineatura-gialla{
  background-color: #ffff00;
}

#titoli-colonne{
  background-color: #20a9e5;
  color: white;
  text-align: left;
}

td{
  width: 400px;
}

.righe-colorate{
  background-color: #b1e5f2;
}

#desktop{
  background-image: url('../img/monitor.jpg');
}

#mappa{
  background-image: url('../img/graph.jpg');
}

#desktop, #mappa{
  color: white;
  height: 150px;
  width: 200px;
  background-size: cover;
  margin: 10px 0px;
  padding: 10px;
}