body{
  margin: 0;
  box-sizing: border-box;
}

#sfondo-header{
  height: 100px;
  background-image: url('../img/pattern.png');
  background-color: #4ea0ff;
  background-size: 500px;
  background-repeat: repeat;
}

#logo{
  height: 90px;
  width: 200px;
  background-image: url('../img/logo.svg');
  background-repeat: no-repeat;
  background-size: 200px;
  background-position: bottom;
}

h1{
  font-size: 40px;
}

#presentazione{
  font-size: 20px;
}

#autore{
  color: #21a9e5;
}

.pastello{
  color: #b6b6b6;
  font-weight: bold;
}

.immagini-timberners{
  margin-top: 20px;
}

.sottolineatura{
  background-color: #ffff00;
}

#titoli-colonne{
  background-color: #20a9e5;
  color: white;
  text-align: left;
}

td{
  width: 400px;
}

.righe-colorate{
  background-color: #b1e5f2;
}